---
export interface Props {
	tags: string[]
}
const { tags } = Astro.props
---

<div class="mt-4 flex flex-wrap gap-1">
	{
		tags.map((i) => (
			<span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600">
				{i}
			</span>
		))
	}
</div>
